<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <footer class="fill-gray-lighter">
        <div class="container xs-py-2 md-pt-6 md-pb-4">
            <nav class="col-group footer-nav">
                <div class="col xs-col-12 md-col-3">
                    <div class="bold xs-text-3 text-gray-light xs-pb-1 xs-border-bottom-lighter md-border-none xs-mt-4 md-mt-0">
                        Kaip tai veikia
                    </div>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/how-to-borrow-cars">Išsinuomuoti
                        automobilį</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/how-to-list-your-car">Išnuomuokite
                        savo automobilį</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2"
                       href="https://carnextdoor.zendesk.com/hc/en-gb">FAQs&ensp;<span aria-hidden="true"
                                                                                       class="glyphicon glyphicon-share text-gray-lighter">

                    </span>
                    </a>
                </div>
                <div class="col xs-col-12 md-col-3">
                    <div class="bold xs-text-3 text-gray-light xs-pb-1 xs-border-bottom-lighter md-border-none xs-mt-4 md-mt-0">
                        Pradėti
                    </div>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/join">Registruotis nemokamai</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/list-your-car">Išnuomuokite savo
                        automobilį</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/find-a-car">Raskite automobilį
                        netoli jūsų</a>
                </div>
                <div class="col xs-col-12 md-col-3">
                    <div class="bold xs-text-3 text-gray-light xs-pb-1 xs-border-bottom-lighter md-border-none xs-mt-4 md-mt-0">
                        Kompanija
                    </div>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/about-us">Apie mus</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="https://blog.carnextdoor.com.au/">Mūsų
                        blogas</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2"
                       href="https://careers.carnextdoor.com.au/">Karjera</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2"
                       href="/about-us-old/research-development-peer-peer-car-sharing">Tech R&amp;D</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/car-next-door-media">Media</a>
                </div>
                <div class="col xs-col-12 md-col-3">
                    <div class="bold xs-text-3 text-gray-light xs-pb-1 xs-border-bottom-lighter md-border-none xs-mt-4 md-mt-0">
                        Resources
                    </div>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/support">Pagalbos centras</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/contact">Parašykite mums</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2" href="/terms-of-use">Naudojimosi
                        taisyklės</a>
                    <a class="text-gray-light xs-text-2 xs-block xs-my-2"
                       href="https://carnextdoor.zendesk.com/hc/en-gb/categories/200551519-Renting-your-car-out#insurance-trust-and-safety">Trust&amp; safety&ensp;
                        <span aria-hidden="true" class="glyphicon glyphicon-share text-gray-lighter"></span>
                    </a>
                </div>
            </nav>
            <div class="col-group xs-mt-6">
                <div class="col xs-col-12 md-col-6 xs-text-center md-text-left">
                    <div class="bold xs-text-3 text-gray-light xs-mb-2">Parsisiųsti programėle</div>
                    <a class="xs-inline-block xs-mr-2"
                       href="https://itunes.apple.com/au/app/car-next-door/id1216293395?mt=8"
                       rel="noopener noreferrer" target="_blank">
                        <img style="width: 130px"
                             src="https://www.carnextdoor.com.au/assets/shared/app-store-badge-f876e8c89430e7e84d49a1aa62ccc92ff930a0b64ad4e1a138540b4e569d2f8d.svg"
                             alt="App store badge"></a>
                    <a class="xs-inline-block"
                       href="https://play.google.com/store/apps/details?id=au.com.carnextdoor.app&amp;hl=en"
                       rel="noopener noreferrer" target="_blank">
                        <img style="width: 130px"
                             src="https://www.carnextdoor.com.au/assets/shared/google-play-badge-6b9697544d75f5e6dfe538bc1e2a582c18647481051361647806b4788b0b5f1b.png"
                             alt="Google play badge"></a>
                </div>
                <div class="col xs-col-12 md-col-6 xs-text-center md-text-right xs-mt-6 md-mt-4 xs-mb-3">
                    <a class="xs-p-1 xs-mx-1 text-gray-light" href="https://www.facebook.com/CarNextDoor"
                       rel="noopener noreferrer" target="_blank">
                        <span class="icon icon-facebook"></span>
                    </a>
                    <a class="xs-p-1 xs-mx-1 text-gray-light" href="https://twitter.com/CarNextDoor"
                       rel="noopener noreferrer" target="_blank">
                        <span class="icon icon-twitter"></span>
                    </a>
                    <a class="xs-p-1 xs-mx-1 text-gray-light" href="https://instagram.com/carnextdoor"
                       rel="noopener noreferrer" target="_blank">
                        <span class="icon icon-instagram"></span>
                    </a>
                    <a class="xs-p-1 xs-mx-1 text-gray-light" href="https://www.linkedin.com/company/car-next-door"
                       rel="noopener noreferrer" target="_blank">
                        <span class="icon icon-linkedin"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="fill-gray-light xs-py-5">
            <div class="container">
                <div class="col-group">
                    <div class="col xs-col-12 md-col-6 text-gray-lighter md-flex-align-center md-flex">
                        <a class="xs-block xs-text-center md-text-left xs-mb-2 md-mb-0 md-flex-shrink-0"
                           href="https://www.thesharinghub.com.au" rel="noopener noreferrer" target="_blank">
                            <img style="width: 40px"
                                 src="https://www.carnextdoor.com.au/assets/sharing-hub/sharinghub-209253481566a55d6ee2218cf6c19297a367adb9984d087fcc71654653bff333.png"
                                 alt="Sharinghub"></a>
                        <p class="md-px-3 xs-text-2 xs-line-height-3">Car Next Door is a founding member of The
                            Sharing Hub, along with our
                            friends at Mad Paws, Spacer and Zoom2u.</p>
                    </div>
                    <div class="col xs-col-12 md-col-6 text-gray-lighter md-flex-align-center md-flex xs-mt-3 md-mt-0">
                        <a class="xs-block xs-text-center md-text-left xs-mb-2 md-mb-0 md-flex-shrink-0"
                           href="https://greenfleet.com.au" rel="noopener noreferrer" target="_blank">
                            <img style="width: 40px"
                                 src="https://www.carnextdoor.com.au/assets/shared/greenfleet-logo-4c749ccadac166fa195d7f06f4f4da7097360b2f43397fbce00664574a036498.png"
                                 alt="Greenfleet logo"></a>
                        <p class="md-px-3 xs-text-2 xs-line-height-3">Car Next Door is a proud supporter of
                            <a class="text-gray" href="https://greenfleet.com.au">Green Fleet</a>.
                            Learn more about our <a class="text-gray" href="/carbon-offset">carbon offsetting
                                policy</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fill-white xs-pt-4 xs-pb-5 md-pb-4">
            <div class="container text-center text-gray-lighter">
                <p class="xs-text-2">Car Next Door Australia Pty. Ltd. 2011–2017©</p>
            </div>
        </div>
    </footer>
</div>