<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">


    <footer class="footer container">
        <div class="container-inner footer__inner">
            <p class="footer__copyright">© Car Next Door Pagalbos Centras</p>
            <p class="footer__social-links">

                <a href="https://www.facebook.com/carnextdoor" target="_blank" class="footer-social-link fa fa-facebook"></a>

                <a href="https://twitter.com/carnextdoor" target="_blank" class="footer-social-link fa fa-twitter"></a>

                <a href="https://www.linkedin.com/company/car-next-door" target="_blank" class="footer-social-link fa fa-linkedin"></a>

                <a href="https://youtube.com/carnextdoor" target="_blank" class="footer-social-link fa fa-youtube-play  "></a>

                <a href="https://instagram.com/carnextdoor" target="_blank" class="footer-social-link fa fa-instagram"></a>

            </p>
        </div>
    </footer>

</div>