<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footeris login puslapio</title>
</head>
<body>

<div class="footer">
    <div class="container">
        <div class="footer-links">
            <a class="footer-link" target="_blank" rel="noopener noreferrer"
               href="https://carnextdoor.zendesk.com/hc/en-gb">Help Centre</a>
            <a class="footer-link" target="_blank" rel="noopener noreferrer"
               href="/docs/CND_Privacy_Policy.pdf">Privatumo politikay</a>
            <a class="footer-link" href="/contact">Susisiekite</a></div>
    </div>
</div>

</body>
</html>