<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meniu Main</title>
</head>
<body>

<div class="cnd-sidenav js-sidemenu cnd-font">
    <div class="cnd-overlay js-sidemenu-close"></div>
    <div class="cnd-sidenav__nav cnd-cursor-default">
        <div class="cnd-w-full cnd-p-2">
            <div class="cnd-dismissible__icon cnd-p-2 cnd-text-right js-sidemenu-close" role="button" tabindex="0">✕</div>
            <div class="cnd-stacked-nav cnd--mx-2">
                <ul class="cnd-leading-loose">
                    <li class="cnd-p-2">
                        <a class="cnd-btn cnd-btn--outline cnd-btn--block cnd-block" href="/login">Prisijungti</a>
                    </li>
                    <li class="cnd-p-2">
                        <a class="cnd-btn cnd-btn--solid cnd-btn--block cnd-block" href="/join">Registruotis</a>
                    </li>
                    <li class="cnd-mt-2">
                        <div class="cnd-text-lg cnd-p-2 cnd-text-grey-darker">Kaip tai veikia</div>
                        <hr class="cnd-m-0 cnd-p-0">
                    </li>
                    <li>
                        <a class="cnd-link cnd-flex" href="/how-to-borrow-cars">Išsinuomuoti automobilį</a>
                    </li>
                    <li>
                        <a class="cnd-link cnd-flex" href="/how-to-list-your-car">Išnuomuoti savo automobilį</a>
                    </li>
                    <li>
                        <a class="cnd-link cnd-flex" href="/borrower-rates-and-plans">Kainos nuomininkams</a>
                    </li>
                    <li>
                        <a class="cnd-link cnd-flex" href="/owner-rates-and-plans">Kainos savininkams</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" class="cnd-link cnd-flex"
                           href="https://carnextdoor.zendesk.com/hc/en-gb">Perskaitykite DUK</a>
                    </li>
                    <li class="cnd-mt-2">
                        <hr class="cnd-m-0 cnd-p-0">
                        <a class="cnd-link cnd-link--grey cnd-flex cnd-m-0 cnd-leading-loose cnd-text-lg"
                           href="/search">Rasti automobilį</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>