<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slaptažodžio atstatymas</title>
</head>
<body>
<div class="modal fade password-reset" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button">×</button>
            <div class="modal-header"><h4>Slaptažodžio atstatymas</h4></div>
            <div class="modal-body">
                <form action="/request_reset" accept-charset="UTF-8" data-remote="true" method="get">
                    <input name="utf8" type="hidden" value="✓">
                    <p>We'll send you a link to reset your password, so check your email!</p>
                    <div class="form-row">
                        <input type="text" name="email" id="email"
                               placeholder="Nario Id arba El pašto adresas"></div>
                    <div class="form-row">
                        <p>
                            <small>Skambinkite šiuo nr +370600000 jei pamiršote savo nario ID ir El pašto adresą.</small>
                        </p>
                    </div>
                    <div class="form-row">
                        <input type="submit" name="commit" value="Request reset link"
                               class="button right" data-disable-with="Requesting..."></div>
                </form>
                <br>
                <div class="js-request-response hidden"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>