<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/search" class="cnd-nav__search">
    <input autocomplete="off" class="cnd-nav__search-input cnd-input" data-location-input="" name="location"
           placeholder="Try &quot;Sydney&quot;" type="text">
    <div class="cnd-nav__search-icon">
        <div class="cnd-nav__search-icon__circle"></div>
        <div class="cnd-nav__search-icon__rectangle"></div>
    </div>
    <input class="cnd-hidden" type="submit">
</form>
</body>
</html>