<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Prisijungimas</title>
</head>
<body>

<div class="js-show-signup-form cnd-hidden">
    <div class="cnd-overlay" onclick="$('.js-show-signup-form').addClass('cnd-hidden')"></div>
    <div class="cnd-overlay-content">
        <div class="cnd-panel cnd-w-full">

            <div class="cnd-panel__header cnd-text-center">
               Prisijungti nemokamai
            </div>

            <form action="#" th:action="@{/signUp}" th:object="${query}" method="post">


                <div class="cnd-mt-4">

                    <div class="cnd-pb-2 cnd-pb-4 form-field ">
                        <label class="cnd-label cnd-mb-4" >
                        <p>El pašto adresas: </p>
                        </label>
                        <input type="text" th:field="*{login}" />
                    </div>
                    <div class="cnd-pb-2 cnd-pb-3 form-field ">
                        <label class="cnd-label cnd-mb-4">
                            <p>Jūsų slaptažodis: </p>
                        </label>
                        <input type="text" th:field="*{password}" />
                    </div>

                </div>

                <input type="submit" name="commit" value="Prisijungti" class="cnd-btn cnd-btn--solid cnd-btn--block"
                       id="member_join" data-disable-with="Sign up"/>
            </form>
            <div class="cnd-text-center cnd-mt-6">
                <p class="cnd-text-grey cnd-text-sm">Jau esate narys?
                    <a class="cnd-link cnd-link--blue" href="/login">Prisijungti čia</a>.
                </p>
            </div>

        </div>
    </div>
</div>

</body>
</html>