<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pricing-table" data-pricing-table="">
    <div class="xs-px-2 xs-display-none md-block">
        <table class="fill-white rounded text-center text-gray-light xs-box-shadow">
            <tbody>
            <tr>
                <td class="xs-col-4 xs-p-2 xs-border-right-lightest"></td>
                <td class="xs-col-4 xs-p-2 xs-border-right-lightest">
                    <h3 class="bold xs-mb-1">Lengvieji automobiliai</h3>
                    <div class="xs-text-2 text-gray-lighter">Nuomuojantis rečiau nei kartą per mėnesį
                    </div>
                </td>
                <td class="xs-col-4 xs-p-2">
                    <h3 class="bold xs-mb-1">Sunkieji automobiliai</h3>
                    <div class="xs-text-2 text-gray-lighter">Nuomuojantis kartą per mėnesį ar dažniau
                    </div>
                </td>
            </tr>
            <tr>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">Mėnesio mokestis</td>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">Nemokamai</td>
                <td class="xs-p-2 xs-border-top-lightest">$19</td>
            </tr>
            <tr>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">Nuomos mokestis</td>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">$5</td>
                <td class="xs-p-2 xs-border-top-lightest">Įskaičiuota</td>
            </tr>
            <tr>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">Nuomos kainos nuo
                </td>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">$5/h arba
                    $25/d
                </td>
                <td class="xs-p-2 xs-border-top-lightest">$5/h arba $25/d</td>
            </tr>
            <tr>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">Atstumo mokestis
                </td>
                <td class="xs-p-2 xs-border-top-lightest xs-border-right-lightest">
                    $0.33/km
                </td>
                <td class="xs-p-2 xs-border-top-lightest">$0.33/km</td>
            </tr>
            <tr>
                <td class="xs-p-3 xs-border-top-lightest xs-border-right-lightest"></td>
                <td class="xs-p-3 xs-border-top-lightest xs-border-right-lightest">
                    <a class="button button--secondary xs-px-4" href="/join">Prisijunkite dabar</a>
                </td>
                <td class="xs-p-3 xs-border-top-lightest">
                    <a class="button button--secondary xs-px-4 js-heavyweight-btn"
                       href="/join">Prisijunkite dabar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mobile-tables xs-block md-display-none">
        <div class="scroll-container slick-initialized slick-slider slick-dotted">
            <div class="slick-list draggable" style="padding: 0px 2rem;">
                <div class="slick-track"
                     style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                    <div class="scroll-item xs-pb-2 xs-mr-1 slick-slide slick-current slick-center"
                         data-slick-index="0" aria-hidden="true" style="width: 0px;"
                         tabindex="0" role="tabpanel" id="slick-slide00"
                         aria-describedby="slick-slide-control00">
                        <table class="fill-white rounded text-center text-gray-light xs-box-shadow xs-mr-2">
                            <tbody>
                            <tr>
                                <td class="xs-col-4 xs-p-2">
                                    <h3 class="bold xs-mb-1">Lengvasis automobilis</h3>
                                    <div class="xs-text-2 text-gray-lighter">Nuomuojantis rečiau nei kartą per mėnesį
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="xs-p-1 xs-border-top-lightest">
                                    <p class="text-gray-lightest xs-text-2 xs-my-05">Mėnesinis mokestis</p>
                                    <p class="xs-mb-05">Nemokamai</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="xs-p-1 xs-border-top-lightest">
                                    <p class="text-gray-lightest xs-text-2 xs-my-05">Nuomos mokestis</p>
                                    <p class="xs-mb-05">$5</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="xs-p-1 xs-border-top-lightest">
                                    <p class="text-gray-lightest xs-text-2 xs-my-05">Nuomos kainos nuo</p>
                                    <p class="xs-mb-05">$5/h or $25/d</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="xs-p-1 xs-border-top-lightest">
                                    <p class="text-gray-lightest xs-text-2 xs-my-05">
                                        Atstumo mokestis</p>
                                    <p class="xs-mb-05">$0.33/km</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="xs-p-3 xs-border-top-lightest">
                                    <a class="button button--secondary xs-px-4" href="/join"
                                       tabindex="-1">Prisijunkite dabar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <ul class="slick-dots" style="display: block;" role="tablist">
                <li class="slick-active" role="presentation">
                    <button type="button" role="tab" id="slick-slide-control00"
                            aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0"
                            aria-selected="true">1
                    </button>
                </li>
                <li role="presentation">
                    <button type="button" role="tab" id="slick-slide-control01"
                            aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">
                        2
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>